server:
  port: 8091

spring:
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: reservation-service
              uri: lb://RESERVATION-SERVICE
              predicates:
                - Path=/api/reservation/**
              filters:
                - StripPrefix=1
                - name: CircuitBreaker
                  args:
                    name: inscriptionCircuitBreaker
                    fallbackUri: forward:/fallback/reservation

            - id: restauration-service
              uri: lb://RESTAURATION-SERVICE
              predicates:
                - Path=/api/restauration/**
              filters:
                - StripPrefix=1
                - name: CircuitBreaker
                  args:
                    name: defenseCircuitBreaker
                    fallbackUri: forward:/fallback/restauration

          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins: "http://localhost:4200"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowed-headers: "*"
                allow-credentials: true

#  resilience4j
resilience4j:
  circuitbreaker:
    instances:
      default:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10000
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
  timelimiter:
    instances:
      default:
        timeout-duration: 3s

# Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,circuitbreakers,circuitbreakerevents
  endpoint:
    health:
      show-details: always
      status:
        http-mapping:
          down: 503
          fatal: 503
          out-of-service: 503
    gateway:
      access: unrestricted

#logging  (<- spécifique)
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG