server:
  port: 8081

spring:
  application:
    name: restaurant-service

  config:
    import: "optional:configserver:http://localhost:8888"

  datasource:
    url: jdbc:mysql://localhost:4306/api_restaurant?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  web:
    resources:
      add-mappings: true

  data:
    rest:
      base-path: /api
      default-page-size: 20
      max-page-size: 100

# Hadi dial Google Place API
google:
  places:
    api:
      key: ""
      base-url: "https://maps.googleapis.com/maps/api/place" #placer apres

#Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

#Actuator endpoints w safi
management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,circuitbreakers,circuitbreakerevents
  endpoint:
    health:
      show-details: always

#logging
logging:
  level:
    ma.project.reservation_service: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.jdbc.core.StatementCreatorUtils: TRACE